<h2 class="page-header whiteColor">Account Login</h2>
<form method ="post" action="/users/resetpassword">
  <div class="form-group form-custom">
    <label class="whiteColor">Email</label>
    <input type="text" class="form-control login" name="username" placeholder="Email">
  </div>
  <button type="submit" class="btn btn-default">Reset</button>
</form>
