/*
xs (for phones - screens less than 768px wide)
sm (for tablets - screens equal to or greater than 768px wide)
md (for small laptops - screens equal to or greater than 992px wide)
lg (for laptops and desktops - screens equal to or greater than 1200px wide)
*/

/* Space out content a bit */

body {
  margin-left: 45px !important;
  margin-right: 45px !important;
}

.login {}

.whiteColor {
  font-size: 120%;
  color: #808080;
}

a:hover {
  color: yellow;
}

li a:hover {
  color: blue;
}

.input-25 {
  width: 25%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.text-left {
  font-size: 140%;
  color: #808080;
}

.logo {
  width: 90%;
  height: 90%;
}

.changePass {
  float: right;
}

.changeIt {
  float: right;
}

.form-custom-string {
  width: 25%;
  display: inline-table;
  min-width: 150px;
}

.form-custom-number {
  width: 10%;
  display: inline-table;
  min-width: 50px;
}

.hidden {
  display: none;
}

.address {
  margin-top: 20px;
  border-top: solid white 2px;
}

.capitol {
  color: #19f507;
  font-weight: bolder;
}

.changepassword {
  margin-top: 20px;
  border-top: solid white 2px;
  margin-bottom: 100px;
}

.teamName {
  display: inline-block
}

button:desabled {
  background: #ffff00;
}