
<div  data-dojo-type= "dijit/layout/LayoutContainer" class="layoutContainer" data-dojo-props="liveSplitters:false, design:'sidebar', 
      gutters: false, isLayoutContainer: true" data-dojo-attach-point="layoutContainer">

    <div data-dojo-type="dijit/layout/TabContainer"  data-dojo-attach-point="tabContainer" class="" tabStrip="true"
         data-dojo-props="region: 'center', doLayout: true, isLayoutContainer: true, persist: true">

    </div>

    <div data-dojo-type="dijit/layout/ContentPane" class="footer"
         data-dojo-attach-point="footerPane"
         data-dojo-props="region: 'bottom', doLayout: true">
        <i id="expand" class="fa fa-chevron-down"></i>
        <div class="who">
            <span class="pull-left">
                &copy ${year} <a href="http://EtixAplication.ro">Starter    </a>
                <span class="links">
                    | <a target="_blank" href="">Termeni si conditii</a> |
                    <a target="_blank" href="">Contact</a>
                </span>
            </span>
            <span class="pull-right"><a target="_blank" href=""><i class="fa fa-html5"></i> <span id="wsx">Web Development - </span>  </a></span>
        </div>
    </div>
</div>

