<div data-dojo-type="dijit/layout/ContentPane" >
    <div data-dojo-type="dijit/layout/ContentPane" title="Comanda"  class=""
         data-dojo-props="region: 'center', doLayout: true, isLayoutContainer: true, persist: true" >
        <form data-dojo-attach-point="filterForm" data-dojo-type="dijit/form/Form">

            <div data-dojo-type="dijit/form/FilteringSelect" name="team1" style="width:25%";
                 data-dojo-attach-point='team1' class =""
                 data-dojo-props="placeHolder:'Team-1', hasDownArrow: false, pageSize: 15, maxHeight:300, maxLength:25 , required: false,  labelAttr: 'name', searchAttr: 'name', selectOnClick: true">
            </div>
            <div data-dojo-type="dijit/form/FilteringSelect" name="team2" style="width:25%";
                 data-dojo-attach-point='team2' class =""
                 data-dojo-props="placeHolder:'Team-2', hasDownArrow: false, maxHeight:300, required: false,  labelAttr: 'name', searchAttr: 'name', selectOnClick: true">
            </div>
            <div data-dojo-type="dijit/form/DateTextBox" name="data" data-dojo-attach-point="data" 
                 data-dojo-props="placeHolder:'Data', required: false, 'class': 'date' , selectOnClick: true ">
            </div>
            <div data-dojo-type="dijit/form/TimeTextBox" name="ora" data-dojo-attach-point="ora" 
                 data-dojo-props="placeHolder:'Ora', required: false, 'class': 'date' , selectOnClick: true ">
            </div>
            <div data-dojo-type="dijit/form/Button" class="button" 
                 data-dojo-attach-point="btnSave"
                 data-dojo-props="label:'Add'">
            </div>
        </form>
        <div class="" data-dojo-props="region: 'center'" data-dojo-attach-point="gridplace"></div>
    </div>
</div>
