<div data-dojo-type="dijit/layout/ContentPane" >
    <div data-dojo-type="dijit/layout/ContentPane" title="Comanda"  class=""
         data-dojo-props="region: 'center', doLayout: true, isLayoutContainer: true, persist: true" >
        <form data-dojo-attach-point="filterForm" data-dojo-type="dijit/form/Form">

            <div data-dojo-type="dijit/form/ComboBox" name="name" style="width:25%"
                 data-dojo-attach-point='name' class ="layoutFilters"
                 data-dojo-props="placeHolder:'Name', hasDownArrow: false, pageSize: 15, maxHeight:300, maxLength:25 , required: false,  labelAttr: 'numeprodus', searchAttr: 'numeprodus', selectOnClick: true">
            </div>

            <div data-dojo-type="dijit/form/DateTextBox" name="start" data-dojo-attach-point="datastart" 
                 data-dojo-props="placeHolder:'Start', required: false, 'class': 'date' , selectOnClick: true ">
            </div>
            <div data-dojo-type="dijit/form/DateTextBox" name="stop" data-dojo-attach-point="datastop" 
                 data-dojo-props="placeHolder:'Stop', required: false, 'class': 'date' , selectOnClick: true ">
            </div>
            <div class="checkdiv"> 
                <input data-dojo-type="dijit/form/CheckBox" name="ckeck"
                       checked data-dojo-attach-point="checkvalue">
                <label for="dbox1">Privat</label>
            </div>
            <div data-dojo-type="dijit/form/Button" class="" 
                 data-dojo-attach-point="btnSave"
                 data-dojo-props="label:'Add'">
            </div>
        </form>
        <div class="" data-dojo-props="region: 'center'" data-dojo-attach-point="gridplace"></div>
    </div>
</div>
