.formComanda {
  margin-bottom: 5px;
}
.grid {
  height:100%;
}
.grid-comanda {
  height: 60%;
}
.grid-farmacii {
  height: 100% !important;
}
.prodInfo {
  height: 35%;
  border: 1px solid #DDD;
}
.field-lastFurnizor {
  width: 10%;
}
.field-lastAchDiscount {
  width: 5%;
}
.field-lastAchPretFinal {
  width: 6%;
}
.field-lastPrice {
  width: 8%;
}
.field-lastDiscount {
  width: 5%;
}
.field-cantitate {
  width: 6%;
}
.field-lastFinalPret {
  width: 6%;
}
.field-comandat {
  width: 4%;
}
.right input {
  text-align:right !important;
}
.right textarea {
  text-align:right !important;
}

.Farmacii {
  height:100%;
}

.field-pl {
  width: 20%;
}



