.formComanda {
  margin-bottom: 5px;
}

.grid-comanda {
  height: 60%;
}

.prodInfo {
  height: 35%;
  border: 1px solid #DDD;
}
.field-lastPrice {
  width: 8%;
}
.field-lastDiscount {
  width: 5%;
}

.right textarea {
  text-align:right !important;
}