<div class="container-fluid ">
     <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
            <div class="media text-center" ><img src=/images/logo.png class="logo "></div>
      </div>
  
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 event-container ">
          Start in MAIN
        </div>     
</div>

<script src="/js/frontend.js"></script>