<div class="container-fluid ">

    <div class="col-xs-6 col-lg-4 ">
        <div class="media">
            <img src=/images/logo.png >
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-8 event-container"><h1>Clasament</h1> 
        <div class="" >
            <div class="row event-detail title" >
                <div class="col-xs-12 col-sm-12 text-left"> 
                    <a href="api/tournaments-index" class="whiteColor">Turneu 1</a>
                </div>
            </div> 
            <div class="row event-detail title" >
                <div class="col-xs-12 col-sm-12 text-left"> 
                    <a href="api/tournaments-index" class="whiteColor">Turneu 2</a>
                </div>
            </div> 
        </div>
    </div>    
</div>

